// ethanoz color scheme
$color-dark-blue: #1F3946;
$color-lite-blue:  #89B3BE;
$color-lite-blue-gray: #e6eef0;
$color-dark-aqua: #3B5E62;
$color-lite-aqua: #9BBEA2;
$color-dark-gray: #393d3f;
$color-lite-gray: #C7C7C7;

// solarized color scheme
$color-solarized-dark-blue: #073642;
$color-solarized-blue-text: #268bd2;

$color-white: #fff;